body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
    color: #333;
    line-height: 1.6;
}

.header-container {
    text-align: end;
    padding: 20px;
}

#back-button {
    background-color: #00008B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

#back-button:hover {
    background-color: #001f3f;
}

.h {
    color: #00008B;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: -60px;
    font-family: 'Playfair Display', serif;
}

#carousel {
    position: relative;
    margin: 20px auto;
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.carousel-container {
    position: relative;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    border-radius: 10px;
    flex-shrink: 0;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5em;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#overview, #attractions, #activities, #accommodation, #travel-tips, #transportation, #reviews, #booking-options {
    margin: 10px auto;
    max-width: 1150px;
    text-align: left;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

#attractions .attraction {
    margin-bottom: 20px;
    text-align: center;
}

#attractions .attraction img {
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

#activities ul, #accommodation ul, #travel-tips ul, #transportation ul {
    list-style-type: disc;
    padding-left: 20px;
}

#reviews blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #00008B;
    padding: 10px 20px;
    margin: 10px 0;
    font-style: italic;
    color: #555;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
#booking-options h2 {
    margin-bottom: 100px; /* Added more space below heading */
    
    
}
#booking-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#booking-options .btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left:110px;
}

#booking-options .btn {
    margin: 0;
    background-color: #00008B;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#booking-options .btn:hover {
    background-color: #001f3f;
}

footer {
    margin-top: 20px;
    padding: 5px;
    background-color: #00008B;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #00008B;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.a {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}
.b
{
    color:red;
}
.c
{
    color:blueviolet;
}
.d
{
    color:purple;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}